.App-link {
	color: #61dafb;
}
body {
	font-family: "Josephine Slab", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	background-color: #efefef;
}

.App {
	background: white;
	max-width: 600px;
	margin: 30px auto;
	padding: 30px;
	box-shadow: 0px -1px 17px -1px rgba(0, 0, 0, 0.26);
}

main {
	padding: 30px 0;
}
